:host {
  display: block;
}

.box {
  width: 300px;
  border: 5px solid black;
  display: block;
  line-height: 300px;
  text-align: center;
  font-size: 50px;
  color: white;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/